body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  color: #444;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background: black;
}

header.sticky {
  position: fixed;
  top: 0;
  /*left: 0;*/
  /*background-color: #222;*/
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.collapse:not(.show) {
  display: flex;
}

#navcol-3 {
  flex-grow: 1 !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: calc(100% - 227px - 48px);
}

.nav-link {
  font-weight: 600;
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 16px;
  white-space: nowrap;
}

.dropdown-menu .nav-link {
  color: black;
  padding: 5px 16px !important;
}

.dropdown-menu .nav-link.active, .dropdown-menu .nav-link:hover {
  background: #e0e0e0;
  color: black !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
  color: #dd1824;
}

.navbar-nav .dropdown-menu {
  border-radius: 0;
  left: auto;
  right: 0;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-item {
  font-weight: 600;
}

.dropdown-item.active, .dropdown-item:active {
  background: #dedfe0;
  color: #212529;
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .navbar-brand img {
    max-height: 44px;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80vw;
    min-width: 320px;
    max-width: 370px;
    z-index: 10000;
    transform: translateX(-100%);
    transition: 0.4s;
    visibility: hidden;
    content-visibility: auto;
    background: #000;
  }
}

@media (max-width: 991px) {
  .navbar-collapse.active {
    left: 0;
    transform: translateX(0);
    visibility: visible;
    box-shadow: 2px 0px 15px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    padding: 25px;
    margin: 0;
    width: 100%;
    height: calc(100vh - 74px);
    overflow: auto;
  }
}

@media (max-width: 991px) {
  .nav-item {
    border-bottom: 1px solid rgba(255,255,255,0.11);
  }
}

header .close-btn {
  display: none;
}

@media (max-width: 991px) {
  header .close-btn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    display: flex;
  }
}

@media (max-width: 991px) {
  .mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
}

@media (max-width: 991px) {
  .mobile-menu-overlay.active {
    display: block;
  }
}

@media (max-width: 991px) {
  .logo-mobile {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .logo-mobile img {
    max-height: 34px;
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px 0;
    white-space: nowrap;
  }
}

.search-modal .message {
  font-size: 18px;
  color: #777;
}

/* Search Icon */

.search-btn {
  cursor: pointer;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
}

/* Search Modal */

.search-modal {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition: 0.4s;
}

.search-modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 790px;
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0 auto;
  padding: 0 50px;
}

.search-modal.active {
  display: flex;
  transition: 0.4s;
  z-index: 10000;
}

.search-modal .search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
}

.search-modal .search-field {
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 22px;
  border: 0;
  border-bottom: 1px solid #4a4a4a;
  height: auto;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  color: #ececec;
  border-radius: 0;
  background: transparent;
}

.search-modal .search-field::placeholder {
  color: white;
}

.form-control:focus {
  box-shadow: none;
}

.search-modal .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px;
  cursor: pointer;
  color: rgba(255,255,255,0.65);
  -webkit-text-stroke: 2px black;
}

.search-modal .close-btn:hover {
  color: rgba(255,255,255,1);
}

.intro {
  margin-top: 40px;
}

.txt-intro {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #161616;
}

/* top-game */

.block-head {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'DM Sans';
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.heading {
  font-weight: 700;
  color: #161616;
  font-family: 'Exo 2';
}

.block-head .heading:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #dd1824;
}

/* Game-item */

.game-item {
  margin-bottom: 25px;
}

.media {
  position: relative;
  margin-bottom: 15px;
}

.img-link {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-link.ratio-16-9 {
  padding-bottom: 56.25%;
}

.media .img-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-game .cate {
  position: absolute;
  bottom: 0;
}

.top-game .category {
  display: inline-flex;
  background: red;
  margin-right: 0;
  padding: 0 8px;
  color: #fff;
  border-radius: 1px;
  font-family: var(--ui-font);
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 22px;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
}

.content span.stt {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dd1824;
  font-size: 18px;
  font-family: 'DM Sans';
  font-weight: bold;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.post-meta {
  display: flex;
  align-items: center;
  /*flex-direction: column;*/
  font-size: 12px;
  color: #8a8a8a;
  line-height: 1.5;
  width: calc(100% - 40px);
  margin-left: 50px;
}

.post-title {
  font-family: 'Exo 2';
  font-weight: 700;
  color: #161616;
  font-size: 18px;
  margin-bottom: 0;
}

.post-title a {
  color: #161616;
  /*font-size: 18px;*/
}

.post-title a:hover {
  color: #dd1824;
}

/* Latest game */

.list-latest-game {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

@media (max-width: 991px) {
  .list-latest-game {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .list-latest-game {
    grid-template-columns: repeat(1, 1fr);
  }
}

.latest-game-item {
  background: #f8f8f8;
  border-radius: 25px 25px 0 0;
  padding: 0;
  margin-bottom: 20px;
}

.thumb {
  margin-bottom: 5px;
  border-radius: 25px;
}

.game-thumb {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 25px;
}

@media (max-width: 991px) {
  .game-thumb {
    height: 230px;
  }
}

@media (max-width: 575px) {
  .game-thumb {
    height: 300px;
  }
}

.post-text {
  padding: 5px;
}

/* editor-picks */

.list-editor-picks {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media (max-width: 991px) {
  .list-editor-picks {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.edt-item {
  margin-bottom: 20px;
}

.edt-item .img-link {
  padding-bottom: 100%;
}

.edt-item .img-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.edt-item .content span.stt {
  background: transparent;
  color: #ccc;
  font-size: 37px;
}

.edt-item .content .post-title {
  font-size: 16px;
}

.intro-ft .txt-intro {
  font-size: 25px;
}

/* footer */

footer {
  background: #040404;
  padding: 60px 20px;
  color: #777777;
  text-align: center;
  font-size: 13px;
}

.menu-ft {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  padding-left: 0;
}

@media (max-width: 576px) {
  .menu-ft {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .menu-ft li {
    margin-bottom: 10px;
  }
}

.menu-ft .links {
  color: white;
  font-weight: 700;
  padding: 0 17px;
  text-transform: uppercase;
}

/* category-page */

.breadcrumb {
  font-size: 12px;
  color: #8a8a8a;
}

.breadcrumb-item a {
  color: #8a8a8a;
  font-size: 12px;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "»");
}

.archive-heading {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  border-left: 3px solid #dd1824;
  padding-left: 14px;
  line-height: 2;
  letter-spacing: 0.01em;
  margin-bottom: 40px;
}

.cate-item {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.cate-item .media {
  position: relative;
  align-self: flex-start;
  border-radius: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cate-item .media .img-link {
  height: 100%;
  max-width: 100%;
  padding-bottom: 133.3333333333%;
}

.cate-item .media img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.cate-item .cate {
  position: absolute;
  top: 0;
  left: 0;
  background: #dd1824;
  padding: 3px 5px;
  text-transform: uppercase;
  font-size: 11px;
}

.cate-item .cate a {
  color: white;
}

.grid-overlay {
  --grad-opacity: 0.85;
  --grad-color: rgba(0, 0, 0, var(--grad-opacity));
}

.grid-overlay:before {
  content: "";
  background: linear-gradient(transparent 35%, var(--grad-color) 100%);
  opacity: 0.9;
  z-index: 1;
  transition: 0.25s ease-in;
}

.grid-overlay:hover:before {
  opacity: 1;
}

.grid-overlay:before, .grid-overlay .content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cate-item .content-wrap {
  display: flex;
}

.cate-item .content {
  align-self: flex-end;
  padding: calc(12px + 1.4%);
  position: relative;
  width: 100%;
  z-index: 1;
}

.cate-item .content .post-meta {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 100%;
  align-items: flex-start;
  color: white;
}

.cate-item .post-title, .cate-item .post-title a {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  margin-bottom: 12px;
  font-family: 'Exo 2';
}

.cate-item a {
  color: white;
}

.post-meta-below {
  text-transform: uppercase;
}

.post-meta-below .date:before {
  content: "—";
  padding: 0 10px;
}

/* detail-page */

.image-game img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.game-name {
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 20px;
}

.top-detail h1.heading {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.top-detail h1.heading:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #dd1824;
}

.social {
  display: flex;
  align-items: center;
}

.social .service {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  margin-right: 2px;
  color: #333333;
}

.game-player {
  background-color: #212234;
  border-radius: 10px;
  color: white;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.btn-full {
  padding: 25px 50px;
  background: #dd1824;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 45px;
  border: none;
  line-height: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.desc-text .heading {
  font-size: 21px;
}

.popular-games {
  padding: 0 10px 10px 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .popular-games {
    padding: 0 8px 5px;
  }
}

.popular-games .block-head {
  margin-bottom: 20px;
}

.rcm-container .game-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 13px;
}

@media (min-width: 1200px) {
  .full {
    margin-top: 40px !important;
  }
}

@media (max-width: 1199px) {
  .rcm-container .game-item:nth-child(n + 6) {
    display: none;
  }
}

@media (max-width: 767px) {
  .rcm-container .game-item:nth-child(n + 6) {
    display: flex;
  }
}

.rcm-container .thumb {
  position: relative;
  display: block;
  width: 110px;
  max-width: 40%;
  margin-right: 18px;
  flex-shrink: 0;
}

.thumb-link {
  display: block;
  position: relative;
  max-width: 100%;
  padding-bottom: 69%;
  height: 0;
}

.rcm-container .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rcm-container .content-popular {
  width: 100%;
  overflow: hidden;
}

.rcm-container .heading, .rcm-container .heading a {
  font-weight: 700;
  font-size: 16px;
  color: #161616;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.rcm-container .heading a:hover {
  color: #dd1824;
}

.rcm-container .date {
  font-size: 11px;
  text-transform: uppercase;
  color: #8a8a8a;
}

/* terms */

.main-heading {
  font-size: 35px;
  font-weight: 700;
  color: #161616;
  font-family: 'Exo 2';
  margin-bottom: 35px;
}

.text p {
  margin-bottom: 1.5rem;
}

h3.main-heading {
  font-size: 25px;
  margin-bottom: 25px;
}

.terms h3.main-heading {
  text-transform: uppercase;
}

